name: CI Build

on:
  push:
    branches: [ master ]
    tags: [ '*' ]
  pull_request:
    branches: [ master ]
    types: [ opened, reopened, labeled, synchronize ]

jobs:
  check-formatting:

    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.action != 'labeled' # run for 'opened', 'reopened' and 'synchronize'

    name: Check formatting

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: coursier/setup-action@v2.0.2
        with:
          apps: scalafmt
      - name: Check code and docs formatting
        run: scalafmt --check

  check-snippets:

    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.action != 'labeled' # run for 'opened', 'reopened' and 'synchronize'

    name: Check Scala CLI snippets from documentation

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@v3
      - uses: coursier/setup-action@v2.0.2
        with:
          apps: scala-cli sbt
      - name: Run snippets from documentation
        working-directory: docs
        run: just test-snippets

  build:

    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.action != 'labeled' # run for 'opened', 'reopened' and 'synchronize'

    name: "Scala: ${{ matrix.scala == '2_12' && '2.12' || matrix.scala == '2_13' && '2.13' || '3' }} / Platform: ${{ matrix.platform }} / JVM: ${{ matrix.jvm }}"

    strategy:
      matrix:
        scala: ["2_12", "2_13", "3"]
        platform: ["jvm", "js", "native"]
        jvm: ['temurin:1.8.0-392', 'temurin:1.21.0.1']
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: coursier/cache-action@v8
      - uses: coursier/setup-action@v2.0.2
        with:
          jvm: ${{ matrix.jvm }}
          apps: sbt
      - name: Clean, compile, test, generate coverage report, check MiMa
        run: sbt ci-${{ matrix.platform }}-${{ matrix.scala }}
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
