name: CI build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: ['opened', 'reopened', 'labeled', 'synchronize']

jobs:
  build:

    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.action != 'labeled' # run for 'opened', 'reopened' and 'synchronize'

    strategy:
      matrix:
        scala: ["2_12", "2_13"]
        jvm: ['adopt:1.8.0-292', 'adoptium:1.17.0.5']
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - uses: coursier/cache-action@v6
      - uses: coursier/setup-action@v1.3.0
        with:
          jvm: ${{ matrix.jvm }}
          apps: sbt
      - name: Clean, Check code formatting, compile, test, generate coverage report
        run: sbt ci-${{ matrix.scala }}
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  benchmark:
    needs: build
    runs-on: benchmarks
    concurrency: 'benchmark'
    if: >
      github.event_name == 'push' ||
      (github.event.action == 'labeled' && github.event.label.name == 'benchmark') ||
      (github.event.action == 'synchronize' && contains(github.event.pull_request.labels.*.name, 'benchmark'))
    environment: 'benchmark'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

# skip coursier cache as it takes 4m+ on self-hosted runner to download/upload cache
#      - uses: coursier/cache-action@v6
      - uses: coursier/setup-action@v1.3.0
        with:
          jvm: 'adoptium:1.17.0.5' # TODO LB java version from matrix
          apps: sbt

      - name: Run benchmarks
        run: sbt "++2.13.10 benchmarks/Jmh/run -wi 3 -i 10 -r 5s -rf json -rff $(pwd)/${{ github.sha }}.json" # TODO LB scala version from matrix

      - name: Fetch benchmarks metadata
        run: curl https://raw.githubusercontent.com/scalalandio/chimney-benchmark-results/main/meta.json -o meta.json

      - name: Get nope.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Process current benchmarks results
        run: node .github/scripts/process-benchmarks.mjs "$GITHUB_CONTEXT" "$(git describe --tags --always)"
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}

      - name: Save benchmark results
        run: |
          mkdir -p ./results
          mv meta.json ./results
          mv ${{ github.sha }}.json ./results
          echo "${{ github.sha }}" > ./results/sha

      - name: Upload benchmark results
        uses: actions/upload-artifact@v2
        with:
          name: benchmark-results
          path: results
